name: Build catalog
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
  - cron: '0 0 1 * *' # Monthly
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup python
      uses: actions/setup-python@v6
    - name: Install Python packages
      run: pip install -r requirements.txt
    - name: Generate catalog
      run: python main.py --gh-token ${{ secrets.GITHUB_TOKEN }}
    - name: Upload artifacts
      uses: actions/upload-artifact@v7
      with:
        path: catalog.json

  release:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name != 'pull_request' }}
    permissions:
      contents: write
    steps:
    - name: Download binaries
      uses: actions/download-artifact@v8
    - name: Retrieve date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        name: ${{ env.date }}
        tag_name: latest
        files: catalog.json
        overwrite_files: true
        fail_on_unmatched_files: true
